<h1 class="current-category"> <%= params[:category] %> </h1>

<% if @items.count == 0 %>
    <h3>There are no items in this category</h3>
<% else %>
    <% @items.each do |item| %>
    <h2> <%= link_to item.title, item_path(item) %> </h2>
    <% end %>
<% end %>



