<% @all_items.each do |item, elemente| %>
        <p> <%= item %></p>
        
            <p><%= elemente %></p>
        <% elemente.each do |ele| %>
            <p> <%= ele['title'] %> </p>
        <% end %>
        
<% end %>